.btn {
  padding: 12px 30px;
  border-radius: 6px;
  font-family: $font-family-primary;
  font-size: $default-font-size;
  text-decoration: none;
  cursor: pointer;
  margin: 0 6px;

  &:focus {
    outline: none;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  @include m(primary) {
    background-color: var(--foreground);
    border: 1px solid var(--foreground);

    &:enabled {
      &:hover {
        background-color: var(--secondary);
        color: var(--text);
      }

      &:active {
        background-color: var(--background);
        color: var(--text);
      }
    }
  }

  @include m(purple) {
    background-color: var(--purple);
    border: 1px solid var(--purple);
    color: var(--background);

    &:hover {
      background-color: var(--purple-light);
    }

    &:active {
      background-color: var(--purple);
    }
  }

  @include m(blue) {
    background-color: var(--blue);
    border: 1px solid var(--blue);
    color: var(--background);

    &:hover {
      background-color: var(--blue-light);
    }

    &:active {
      background-color: var(--blue);
    }
  }

  @include m(round-icon) {
    border-radius: 50%;
    height: $default-font-size + 33px;
    width: $default-font-size + 33px;
    padding: 0;
    background-color: var(--foreground);
    border: 1px solid var(--foreground);
    color: var(--link);
    line-height: $default-font-size;

    &:hover {
      background-color: var(--secondary);
      border: 1px solid var(--secondary);
    }
  }
}
