.container {
  padding: 0 15px;
  max-width: 100%;
  margin: 0 auto;

  @include mq(md) {
    max-width: $md-device;
  }

  @include mq(lg) {
    max-width: $lg-device;
  }

  @include mq(xl) {
    max-width: $xl-device;
    padding: 0 200px;
  }
}

.clearfix {
  &:after {
    display: table;
    content: "";
    clear: both;
  }
}

.float {
  @include m(left) {
    float: left;
  }

  @include m(right) {
    float: right;
  }
}

.overlay {
  background-color: $secondary-dark;
  border: 1px solid $secondary-dark;
  padding: 30px;
  border-radius: 6px;
  width: 100%;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
