.nav {
  @extend .clearfix;
  margin: 60px 0;

  @include e(link) {
    padding: 12px 40px;
    background-color: var(--foreground);
    border: 1px solid var(--foreground);
    border-radius: 30px;
    margin: 0 10px;
    text-decoration: none;
    font-weight: 700;
    font-size: map-get($head, h3);
    display: inline-block;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: var(--secondary);
      border: 1px solid var(--secondary);
    }

    &.active {
      background-color: var(--link);
      border: 1px solid var(--link);
      color: var(--background);
    }
  }

}